<ion-view view-title="Navigate" class="view">
 <ion-nav-bar class="bar-dark">
  <ion-content class="has-header" ng-controller="swipeCtrl" on-swipe-right="goBack()" on-swipe-left="goForward()"> 
 <div ng-controller="GeoSmsController" >
   <div class="item item-thumbnail-left" >
      <img ng-src="img/home.png" ng-click="launchNavHome()">
      <h2>Home</h2>
      <p></p>
  </div>
	
<div class="item item-thumbnail-left" >
      <img ng-src="img/work.png" ng-click="launchNavWork()">
      <h2>Work</h2>
      <p></p>
  </div>
  
    <div class="item item-thumbnail-left" >
      <img ng-src="img/Sreenidhi_Institute.jpg" ng-click="launchNav()">
      <h2>Sreenidhi</h2>
      <p>Hyderabad</p>
    </div>

    <div class="item item-thumbnail-left" >
      <img ng-src="img/charminar.jpg" ng-click="launchNav2()">
      <h2>Charminar</h2>
      <p>Hyderabad</p>
    </div>
	
   <div class="item item-thumbnail-left" >
      <img ng-src="img/Birla-Mandir.jpg" ng-click="launchNav3()">
      <h2>Birla Mandir</h2>
      <p>Hyderabad</p>
    </div>
	
    <div class="item item-thumbnail-left" >
      <img ng-src="img/salar_jung.jpg" ng-click="launchNav4()">
      <h2>Salar Jung Museum</h2>
      <p>Hyderabad</p>
    </div>
	
     <div class="item item-thumbnail-left" >
      <img ng-src="img/golkonda.jpg" ng-click="launchNav5()">
      <h2>Golkonda Fort</h2>
      <p>Hyderabad</p>
    </div>
</div> </Ion-content> </ion-nav-bar ></ion-view>
